.navbar {
    display: flex;
    justify-content: flex-end;  
    padding: 20px;  
    background-color: #f8f9fa;  

    position: sticky;  
    top: 0;  
    z-index: 1000;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar p {
    margin: 0 15px;  
}

.navbar a {
    text-decoration: none;  
    color: #333;  
    font-size: 1em;  
}

.navbar a:hover {
    color: #007bff;  
}
